body {
    padding: 1rem;
}

.btn-wrap {
    margin: .725rem 0;
}

.btn {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
    //white-space: nowrap !important;
}

.btn-group {
    .btn {
        margin-left: .25rem;
        margin-right: .25rem;
    }
}

table {
    margin-bottom: 1rem;
}

td, th {
    padding: .525rem;
    border: 1px solid black;
}