* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	font-size: 16px;
}

body {
	padding: 1rem;
}

.container {
	background-color: orange;
}

.contents-list {
	margin-left: 1rem;
	list-style-position: inside;
}